<% include header %>
<div class="container  reg">
	<p class="input-group">
		<label class="input-group-addon" for="uname"><span class="glyphicon glyphicon-user"></span></label>
		<input id="uname" class="form-control uname" type="text" placeholder="用户名">		
	</p>
	<p class="input-group">
		<label class="input-group-addon" for="password"><span class="glyphicon glyphicon-pencil"></span></label>
		<input id="password" class="form-control password" type="password" placeholder="密码">
	</p>
	<p class="input-group">
		<label class="input-group-addon" for="qr_password"><span class="glyphicon glyphicon-pencil"></span></label>
		<input id="qr_password" class="form-control qr_password" type="password" placeholder="再次输入密码">
	</p>
	<p class="input-group">
			<button class="btn btn-lg btn-success regbtn" type="button">注册</button>
	</p>
</div>
<% include footer %>