body {
  /*background-color:#f5f5f5;*/
}
.reg, .login {
  margin: 20px auto;
}
.reg-wp, .login-wp {
  margin: auto;
}
.qd-goods, .qd-price {
  display: none;
}
/*.deleteImg {
  display: none;
}
.thumbnail:hover .deleteImg {
  display: block;
}*/
